
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Teams</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar placeholder="search" [(ngModel)]="queryText" (ionInput)="updateTeams()" ></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item-group *ngFor="let division of teams"  >
    <ion-item-divider color="secondary">{{division.divisionName}}</ion-item-divider>
      <button ion-item (click)="itemTapped($event, team)" *ngFor="let team of division.divisionTeam" >
          {{team.name}}
        </button>
  </ion-item-group>
 
</ion-content>
