<ion-header>
    <ion-navbar color="primary">
      <button menuToggle ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Elite Organizer</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">
      <ion-title>
        Sport Zone
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card  *ngIf="!favourites">
      <ion-card-header class="my-team-header">No Followed Team</ion-card-header>
      <ion-card-content>
          <p>You are not currently following any team</p>
          <p>First select a tornamentt, then you can follow teams from their team page</p>
          <button ion-button full icon-right (click)="goToTornaments()" >
              Find a Tornaments
              <ion-icon name="search"></ion-icon>
            </button>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="favourites">
        <ion-list>
            <ion-list-header class="my-team-header">Followed Teams</ion-list-header>
            <button ion-item *ngFor="let item of favourites" (click)="favouriteTapped($event, item)" >
              <ion-icon name="star"></ion-icon>
              {{item.team.name}}
              <p>
                {{item.tournamentName}}
              </p>
            </button>
          </ion-list>
          <ion-card-content>
            <p>to follow more teams, select a tournament, then you can follow more team page</p>
              <button ion-button full icon-right (click)="goToTornaments()" >
                  Find a Tornaments
                  <ion-icon name="search"></ion-icon>
                </button>
          </ion-card-content>
    </ion-card>

    
      
  </ion-content>
  